$RubyConicGradient: conic-gradient(from 184.4deg at 57.69% 50%, rgb(236, 23, 23) 0deg, rgb(255, 255, 255) 172.5deg, rgb(255, 123, 123) 360deg);
$RadialGradient: radial-gradient(50% 50% at 50% 50%, rgb(111, 153, 85) 5.21%, rgba(47, 85, 157, 0.72) 31.77%, rgba(191, 51, 135, 0) 78.13%);
$Moon: radial-gradient(91.11% 91.11% at 32.14% -5.56%, rgb(62, 72, 157) 0%, rgba(95, 95, 100, 0.5) 100%);
$Mars4: radial-gradient(95.95% 95.95% at 50% 51.35%, rgb(255, 0, 0) 0%, rgba(250, 158, 21, 0) 100%);
$Forest: radial-gradient(30.49% 82% at 80.49% 122%, rgb(4, 255, 59) 0%, rgb(255, 122, 0) 100%);
$LinearGrad2: linear-gradient(187.91deg, rgb(111, 0, 0) 3.66%, rgba(111, 0, 0, 0.72) 30.73%, rgb(248, 234, 234) 30.74%, rgb(248, 234, 234) 93.23%);
$LinearAngle: linear-gradient(4.49deg, rgb(35, 250, 0) 139.13%, rgb(255, 0, 0) 13.8%);
$Flag2: linear-gradient(180deg, rgb(255, 0, 0) -16.67%, rgb(0, 71, 255) 55.99%, rgb(241, 232, 0) 128.65%);
$XyTest: linear-gradient(206.57deg, rgb(217, 217, 217) 0%, rgba(217, 217, 217, 0) 100%);
$Case2: linear-gradient(180deg, rgb(255, 0, 0) 50%, rgb(0, 10, 255) 75%, rgb(255, 199, 0) 100%);
$SyncCase: linear-gradient(203.2deg, rgb(250, 12, 12) -75%, rgb(5, 58, 246) 100%);
$BackdropBlur: blur(9.5px);
$LayerBlur: blur(2px);
$InnerShadow: 10px 20px 40px 5px rgba(0, 0, 0, 0.25);
$Shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
$RedBorder: 1px dashed rgb(209, 16, 16);
$BlueBorderAlpha: 2px dashed rgba(53, 58, 175, 0.8);
$HelloLineHeight: 14.522727012634277px;
$UbuntuLineHeight: 15px;
$UbuntuLetterSpacing: 1.5px;
$HelloFontWeight: 400;
$UbuntuFontWeight: 700;
$HelloFontSize: 12px;
$UbuntuFontSize: 15px;
$HelloFontFamily: 'Inter';
$UbuntuFontFamily: 'Ubuntu Mono';
$TriangleFirst: rgb(158, 108, 108);
$Eighth: rgb(132, 227, 117);
$Nineth: rgb(54, 207, 79);
$Fortho: rgb(254, 221, 221);
$TriangleThird: rgb(122, 85, 85);
$Sixth: rgb(238, 250, 236);
$Seventh: rgb(207, 251, 217);
$TriangleSecond: rgba(206, 31, 31, 0.5);
$Hello: rgb(115, 41, 41);
